:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background-color: var(--body-bg);
}

/* Html */
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--body-bg);
  color: var(--text);
}

/* Body */
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: var(--body-bg);
  color: var(--text);
  font-family: inherit;
  overscroll-behavior: none;
}

